* {
    margin: 0;

}

.button_save {
    margin-top: 10px;
}

.navbar {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
}

.add_new_btn {
    border: none;
    padding: 10px;
    background-color: #7B7BDC;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;


}

.add_new_btn:hover {
    background-color: #0CDD40;
    color: white;
}

tr:hover td {
    background-color: #ECECEC;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }