.leave_panel{
  border-top-right-radius: 5px;
  border-top-left-radius: 7px;
  height: 90px;
  background-color: #F2F2F2;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
}

.leave_content{
    border-top-left-radius: 7px;
    background-color: #F2F2F2;
    margin-right: 20px;
}
  
p {
    margin: 0;
    
}

.leave_status{
  background-color: #F2F2F2;
  margin-left: 30px;
}

.notif {
  flex-direction: row;
  display: flex;
  background-color: #F2F2F2;
}

.validation {
  margin-left: 10px;
  background-color: #F2F2F2;
  color: red;
  visibility: hidden;
}

.dropdown_leave{
  background-color:#ffffff;
  margin-left: 30px;
  margin-top: 5px;
  padding: 10px;
  width: 330px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#date {
      height: 18px;
}

.leave_filter {
  margin-top: 25px;
  margin-right: 20px;
  width: 120px;
  height: 40px;
  background-color: rgb(63, 63, 63);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.leave_filter:hover{
  background-color: #000000;
  color: #FFFFFF;
}

tr:hover td {
  background-color: #ECECEC;
  }
  
  thead{
    background-color: #ececec;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .manualLeave {
    background-color: rgb(63, 63, 63); 
    padding: 10px; 
    color: white; 
    border-radius: 6px;
  }
  
  .manualLeave:hover{
    background-color: black;
    color: white;
  }
  
  table {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    max-height: 80%;
    /* height: 250px; */
  } 
  
  tr {
    width: 100% !important;
    display: table !important;
    table-layout: fixed !important;
  }
  
  .table-responsive{
    overflow-x: hidden;
    margin-top: 8px;  
    max-height: 80%;
    min-height: 80%;
  }
  
  .dl_excel:hover{
    color: white;
  }
  
  .pagination{
    margin-right: 78px !important;
  }
  
  .pagination li a{
    color: #c37700;
    
  }
  
    .page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a {
    z-index: 3;
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
  
  
  
  #order-listing_next{
    margin-right: 28px !important;
    margin-bottom: -17px !important;
  }
  
  .input-container{
    background-color: inherit !important;
  }
  
  .dataTables_paginate{
    position: fixed;
    bottom: 70px;
    right: 35px;
  }
  
  .dataTables_info{
    position: fixed;
    bottom: 70px;
  }