.date_button{
  display: flex;
  flex-direction: row;
}

.btn_go{
 margin-top: -70px;
  margin-right: 20px;
  margin-left: 50px;
  width: 92%;
  background-color: #4B49AC;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.btn_go:hover{
    /* background-color: #000000; */
    color: #FFFFFF;
    box-shadow: 10px 10px 8px #888888;

}
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
    background-color: #FFFFFF;
  }
.table-sortable .th-sort-asc::after{
    content: "\FE3F";
  }
  .table-sortable .th-sort-desc::after{
    content: "\FE40";
  }
  .table-sortable .th-sort-asc::after, .table-sortable .th-sort-desc::after{
    margin-left: 5px;
  
  }
  .table-sortable .th-sort-asc, .table-sortable .th-sort-desc{
    background-color: rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
  }

  h2{
    font-size: 23px; 
    font-weight: bold;
  }

  .card{
    background-color: #fff; 
    left: 18.7%; 
    position: absolute; 
    top: 13.5%;  
     
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.17); 
    width:1500px; 
    height:780px;
  }

  .card-body{
    border-radius: 25px;
  }

  thead{
    background-color: #f2f2f2;
  }

  .pagination li a{
    color: #c37700;
}

.page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a {
    z-index: 3;
    color: #fff;
    background-color: #000;
    border-color: #000;
}



#order-listing_next{
    margin-top: 20px;
    margin-right: 4px !important;
    margin-bottom: -15.8px !important;
    
}

#order-listing_previous{
    margin-top: 20px;
    margin-left: 12px !important;
}  

/* Search Bar */

#order-listing_filter label input{
       
  width: 278px;
  font-size: 17px;
  
}

/* Sorting Button Color */
.dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
  
  right: 1.2em;
  bottom: 0;
  color: #c0c1c2 !important;
  opacity: 1;
} 

.dataTables_wrapper .dataTable thead .sorting:after, .dataTables_wrapper .dataTable thead .sorting_asc:after, .dataTables_wrapper .dataTable thead .sorting_desc:after, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {

  right: 1.2em;
  top: 0;
  color: #c0c1c2 !important;
  opacity: 1;
}

#data_table{
  overflow-x: hidden !important;
  padding: 0 !important;
}

#select_status{
  height: 50px; 
  width: 500px; 
  cursor: pointer;
  font-size: 17px;
}

#id_inpt_strdate{
  height: 50px; 
  width: 500px; 
  cursor: pointer;
  font-size: 17px;
}


#id_inpt_enddate{
  height: 50px; 
  width: 500px; 
  cursor: pointer;
  font-size: 17px;
  
  
}

.form-label{
  font-size: 17px;
}

.date_range{
  margin-left: -23%;
}

.date_button{
  margin-left: -21.3%;
}

.forbutton{
  margin-left: -1%;
  margin-top: -7.75%;
}

@media(max-width: 1350px) {
  .card{
    width: 70.5% !important;
    margin-left: 7.1% !important;
    margin-top: 0.25em !important;
    height: 821px !important;
    transition: ease-in-out 1s !important;
  }

  .btn-section{
    margin-left: 66% !important;
  }

  .btn_go{
    width: 90% !important;
  }

  .date_range{
    margin-left: -15%;
  }

  #select_status{
    width: 350px; 
  }

  #id_inpt_strdate{
    width: 350px; 
  }

  
  #id_inpt_enddate{
    width: 350px; 
  }
  
  .forbutton{
    margin-left: -30px;
    margin-top: -66px;
    margin-right: 5px;
  }

  .date_button{
    margin-left: -51px;
  }

  #data_table{
    overflow-x: scroll !important;
  }
}