.btn_go{
    background-color: #4B49AC;
    width: 10%;
}

.page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a {
    margin-top: 20px;
}

.card{
    border-radius: 25px;
}

@media(max-width: 1350px){
    html{
        background-color: #f4f4f4 !important;
        overflow: scroll;
    }
    
    
    
    .dashboard-content{
    background-color: #f4f4f4 !important;
    }
    
    .sidebar{
    background-color: #f4f4f4 !important;
    }
    /* heder-user*/   
    .header-user{
    width: 400px;
    margin-right: -50px;
    transition: ease-in-out 1s;
    }
    
    .header-notif{
    margin-right: 30px;
    transition: ease-in-out 1s;
    }
    .header-head{
    margin-right: 25px;
    transition: ease-in-out 1s;
    
    }
    .header-head img{
    height: 50px;
    transition: ease-in-out 1s;
    }
    .header-type h1{
    font-size: 20px;
    transition: ease-in-out 1s;
    }
    .header-type p{
    font-size: 16px;
    }
    
    .main-panel{
        margin-top: 0% !important;
    }
    .content-wrapper{
        margin-top: 0% !important;
    }

    
    .card{
        width: 85.4% !important;
        left: 8.6% !important;
        top: 3.15em !important;
        height: 820px !important;
        transition: ease-in-out 1s !important;
    }  
    .table-responsive{
        width: 100% !important;
        
        
    }
    .select_custom{
        margin-left: 0;
        
    }

    
   

    .official_panel div:nth-child(1){
        margin-left: 1em !important;
        
    }



    .official_panel div{
        margin-top: 0.3em !important;
       
    }
    
    .btn_go{
        margin-top: 23px;
        margin-left: -15px;
        width: 15%;
    }


    
    
    .btn-section{ 
        position: absolute !important;
        right: 2% !important;
        
     }

     .table-responsive{
        margin-top: 0em !important;
        height: 100% !important;
     }
    

    .pagination{
        margin-right: 78px !important;

        
    }

    .container-select div:nth-child(4){
        margin-top: 0 !important;
        
    }

    .pagination li a{
        color: #c37700;
    }

        .page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a {
        z-index: 3;
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

    
    
    #order-listing_next{
        margin-right: 28px !important;
        margin-bottom: -15.5px !important;

    }
    
    
    
    }


    
@media only screen and (max-width: 767px) {
    html{
        overflow-x: hidden !important;
        background-color: #f4f4f4 !important;
        width: 100% !important;
        
        }
        body{
        overflow-y: hidden !important;
        background-color: #f4f4f4 !important;
        width: 100% !important;
        }
        #upper-nav{
        background-color: black !important; 
        width: 414px !important;
        height: 75px;
        position: fixed !important;
        }
        
        .navbar-menu-wrapper{
        background-color: black !important;
        width: 200px !important;
        height: 60px !important;
        position: fixed !important;
        
        margin-left: 170px !important;
        
        
        }
       #sidebarToggle{
            background-color: black !important;
            z-index: 200;
            margin-right: 20px !important;
        }
    
        .responsive-bars-btn span{
            
            z-index: 200;
        }
        
        .navbar-brand-wrapper{
        background-color: black !important;
        position: absolute !important;
        width: 80px !important;
        box-shadow: none;
        height: 60px !important;
        z-index: 100;
        }
        
        .navbar-brand-wrapper img{
        height: 40px !important;
        width: 50px !important;
        margin-left: -20px !important;
        }
        
        .sidebar{
        position: fixed !important;
        left: 0;
        width: 18% !important;
        margin-top: 0 !important;
        height: 100% !important;
        display: none !important;
        transition: ease-in-out 1s !important;
        
        }
        
        #sidebar.active-sidebar {
        display: block !important;
        } 
        
        
        .navbar-toggler{
        display: none !important;
        }
        
        .responsive-bars-btn{
        display: block !important;
        margin-right: 90px !important;
        border: none !important;
        
        }

        #sub-menu{
           margin-left: -5%;
        }
        
        .responsive-bars-btn span{
        color: white !important;
        font-size: 18px !important;
        }
        
        .header-user{
        width: 290px;
        transition: ease-in-out 1s;
        background-color: black !important;
        
        }
        .header-notif span{
        font-size: 20px !important;
        margin-right: -10px;
        margin-left: 30px !important;
        }
        .header-head img{
        height: 40px !important;
        }
        .header-type h1{
        font-size: 19px !important;
        }
        .header-type p{
        font-size: 14px !important;
        margin-top: -25px !important;
        }
        .header-dropdown{
        margin-left: 30px !important;
        }
        .header-dropdown-menu{
        width: 130px !important;
        margin-left: -55px !important;
        
        }
        
        .nav-title,.menu-arrow{
        display: none !important;
        }
        
        .nav-item{
        margin-bottom: 15px !important;
        }
        
        .collapse{
        width: 250px !important;
        position: fixed !important;
        left: 85px !important;
        }
}